

<div class="info" style= "margin: 55px;">


<h1>Status of your Purchase in Casual</h1>


 <li>Status of your payment: <%= @purchase.status %> </li>


 <li> Product name: <%= @purchase.item.item_name %> </li>

  <li>Amount: <%= humanized_money_with_symbol(@purchase.amount) %></li>


<div class="align-margen" style="margin:50px;">

<h1>Thank you for your purchase</h1>
<h2>Order number is: <%= @purchase.order %></h2>
<h3>Your Purchase Status</h3>

  <p>Status: <%= @purchase.status %></p>
  <p>Item: <%= @purchase.item.item_name %></p>
  <p>Amount: <%= humanized_money_with_symbol(@purchase.amount) %><p>

<div class="row">
        <div class="col-md-3">
          <%= cl_image_tag @purchase.item.photo_items.first.path %>
        </div>

</div>

