
<div class="container">
<div class="review-no" style= "margin: 35px;">
 <h2> <%= link_to "+ Add a Review", new_item_review_path(@item.id) %></h2>


  <p> <%= @item.owner.received_reviews.count %> reviews</p>

  </div>
  <% @item.owner.received_reviews.reverse.each do |review| %>

    <div class="row">
    <div class="description">

  <div class="col-sm-4">
      <div class="description-content">

        <h3 class="product-title"><%= review.item.item_name %></h3>


     <%= render "shared/stars", stars: review.star %>

      </div>
    </div>

  <div class="col-sm-2">
          <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan" />
          </div>

 <div class="col-sm-6">
      <div class="message">
        <%= image_tag review.user.facebook_picture_url || "avatar_demo.jpg", class: "avatar-large" %>

       <!--  <%#= @user.avatar %> || <%#= @user.facebook_picture_url%>  -->


        <div class="message-body">
          <p><strong><%= review.content %></strong></p>
      </div>
              <div class="message-name">
          <p><%= l review.created_at.to_date %></p>
        </div>
     </div>
    </div>

        </div>
                </div>
  <% end %>
</div>
