
<div class="container">
<div class="review-no" style= "margin: 35px;">
 <h2> <%= link_to "+ Add a Review", new_item_review_path(@item.id) %></h2>


  <p> <%= @item.owner.reviews.count %> reviews</p>

  </div>
  <% @item.owner.reviews.each do |review| %>
    <div class="description">

      <div class="description-content text-justify">
        <!-- <div class="details col-md-8"> -->
        <h3 class="product-title"><%= review.item.item_name %></h3>

        <div class="rating">
          <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
      </div>

      <div class="message">
        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan" />

        <h3><%#= @user.avatar %> || <%#= @user.facebook_picture_url%> </h3>
        <div class="message-name">
          <p><%= review.created_at %></p>
        </div>

        <div class="message-body">
        <div class="col-xs-12 col-md-6 col-lg-4">
          <p><strong><%= review.content %></strong></p>
        </div>
      </div>
     </div>
    </div>
  <% end %>
</div>
