
<div class="container ctn">
  <div class="banner-home" id="lfb" >
    <img class="bottom" style="background-image: linear-gradient(-225deg, rgba(214,201,201,0.8) 0%, rgba(232,214,174,0.8) 50%), url('https://isntmandylovely.files.wordpress.com/2013/04/set.jpg' );">
    <img class="top" style="background-image: linear-gradient(-225deg, rgba(214,201,201,0.7) 0%, rgba(214,201,201,0.8) 50%), url('http://ell.h-cdn.co/assets/17/10/640x320/landscape-1488838925-elle-march-2017-fashion-math-01-6-sports-to-take-up-this-spring.jpg');">
    <div class="banner-content">
      <h1 class="white">Buy fashion with Casual</h1>
      <div class= "well-dressed">Well-dressed, everyday</div>
      <form action="/items" class="form-inline">


        <%= collection_select(:item, :category, Item::CATEGORIES, :to_s, :to_s, {}, class: "form-control input-lg search-bar", name: "category", placeholder: "e.g:Pants,Blouse,Shirt" ) %>

        <input type="text" name="address" class="form-control input-lg search-bar" placeholder="Where?">

        <select name="size" id="" class="form-control input-lg search-bar select-input">
          <option value="All">Select Size</option>
          <option value="Any">Any</option>
          <option value="S">S</option>
          <option value="M">M</option>S
          <option value="L">L</option>
        </select>

        <input type="submit" class="buton-purple" value="Search">
      </form>
    </div>
  </div>


  <div class="container">
    <div class="text-center text-title well-dressed margin-top ">Glamourous and Fancy</div>

     <!--  <div class="well-dressed margin-top">Glamour and Fancy</div>
    </div> -->
    <div class="row">

      <% @last_items.each do |item| %>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <% if item.photo_items.any? %>
          <%=link_to item_path(item) do%>
              <div class="card ">
                <div class="card-body" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
                url('<%= cl_image_path item.photo_items.first.path, height: 300, width: 400, crop: :fill %>')">
              <span class="card-category"><%= item.category %></span>
              <div class="card-description">
                <h2><%= item.item_name %></h2>
              </div>
            </div>
          <%end%>
        <% else %>
          <div class="card ">
            <div class="card-body pants">
          <span class="card-category"><%= item.category %></span>
          <div class="card-description">
            <h2><%= item.item_name %></h2>
          </div>
          </div>
        <% end %>

        <div class="card-footer">
          <p>Posted on <%= item.created_at.to_date %></p>
          <div class="controls">
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="#"><i class="fa fa-share"></i></a>
          </div>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>
</div>




    <%= render'shared/thumbnails' %>

   <div class="about" id="about">
    <div class= "about-txt">
      <h2>About Casual</h2>
      <p>Casual is online marketplace for fashion.</p>
    </div>
  </div>



</div>




