
<div class="container ctn">
  <div class="banner-home" >
    <div class="banner-content">
      <h1 class="white">Buy fashion with Casual</h1>
      <div class= "well-dressed">Well Dressed, everyday</div>
      <form action="/items" class="form-inline">


        <%= collection_select(:item, :category, Item::CATEGORIES, :to_s, :to_s, {}, class: "form-control input-lg search-bar", name: "category", placeholder: "e.g:Pants,Blouse,Shirt" ) %>

        <input type="text" name="address" class="form-control input-lg search-bar" placeholder="Where?">

        <select name="size" id="" class="form-control input-lg search-bar select-input">
          <option value="All">All</option>
          <option value="S">S</option>
          <option value="M">M</option>S
          <option value="L">L</option>
        </select>

        <input type="submit" class="buton-purple" value="Search">
      </form>
    </div>
  </div>


  <div class="container">
    <div class="text-center text-title well-dressed margin-top ">Glamour and Fancy</div>

     <!--  <div class="well-dressed margin-top">Glamour and Fancy</div>
    </div> -->
    <div class="row">

      <% @last_items.each do |item| %>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card ">
          <% if item.photo_items.any? %>
          <div class="card-body" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
          url('<%= cl_image_path item.photo_items.first.path, height: 300, width: 400, crop: :fill %>')">
          <% else %>
          <div class="card-body pants">
           <% end %>
           <span class="card-category"><%= item.category %></span>
           <div class="card-description">
            <h2><%= item.item_name %></h2>
          </div>

          <%= link_to "", item_path(item), class: "card-link" %>
        </div>
        <div class="card-footer">
          <p>Posted on <%= item.created_at.to_date %></p>
          <div class="controls">
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="#"><i class="fa fa-share"></i></a>
          </div>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>
</div>




    <%= render'pages/thumbnails' %>

   <div class="about" id="about">
    <div class= "about-txt">
      <h2>About Casual</h2>
      <p>Casual is marketplace for online fashion.</p>
    </div>
  </div>



</div>




