<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Item name</th>
        <th>User_id</th>
        <th>Item_id</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td>
          <%= item.item_name %>
        </td>
        <td>
          <%= item.user_id %>
        </td>
        <td>
          <%= item.id %>
        </td>
        <td>
          <%= item.purchases.any? ? item.purchases.first.status : "Available" %>
        </td>

        <td>
          <%= link_to "Edit", edit_item_path(item) %>

        </td>

        <td>
         <%= link_to "Delete", item_path(item), method: :delete %>
       </td>
     </tr>
     <% end %>
   </tbody>
 </table>
</div>
