<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Item name</th>
        <th>Order</th>
        <th>Buyer</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td>
          <%= item.item_name %>
        </td>
        <td>
          <%= item.purchases.first.order if item.purchases.first.present? %>
        </td>
        <td>
          <%= item.purchases.first.user.email if item.purchases.first.present? %>
        </td>
        <td>
          <%= item.purchases.any? ? item.purchases.first.status : "Available" %>
        </td>

        <td>
          <% unless item.purchases.any? %>
            <%= link_to "Edit", edit_item_path(item) %>
            <%= link_to "Delete", item_path(item), method: :delete %>
          <% end %>
       </td>
     </tr>
     <% end %>
   </tbody>
 </table>
</div>
