<div class="container">


<div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:100px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= image_path('jacket1.jpg') %>" >
    </div>

    <div class="item">
      <img src="<%= image_path('jacket2.jpg') %>" >
    </div>

    <div class="item">
     <img src="<%= image_path('jacket3.jpg') %>" >
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <h1> Add your Clothes here </h1>
      <%= simple_form_for(@item) do |f| %>
        <%= f.input :category, collection: Item::CATEGORIES %>
        <%= f.input :item_name %>
        <%= f.input :size %>
        <%= f.input :address %>
        <%= f.input :price %>
        <%= f.input :days_delivery %>
        <%= f.file_field :picture %>

        <%= f.submit "Create an Item", class: "btn btn-primary btn-lg btn-block" %>
      <% end %>
    </div>
  </div>
</div>



