<div class="container">
 <h1> Good Choice, you've selected </h1>
  <div class="profile text-center">
    <div class="main">
      <div class="main-content">
      <% @item.photo_items.each do |photo| %>
  <%= cl_image_tag photo.path, width: 250, height: 300, crop: :fill, class: "img-circle" %>
<% end %>
        <p> <%= @item.item_name %> </p>
   <!--      <p> <%= @item.category %> </p> -->


        <%= render'shared/carousel' %>


      </div>
    </div>



    <div class="description">

    <div class="rating">
        <div class="stars">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <span class="review-no">2 reviews</span>

        </div>
      <div class="description-content">

       <!--  <p class="text-justify"> -->

      <p>Amount: <%= humanized_money_with_symbol(@item.price) %></p>

      <h5 class="sizes">sizes:<span><%= @item.size %></span></h5>

      <%= link_to "Add to cart", payment_path, class: "btn btn-primary btn-lg" %>

        <!-- <p> Price in USD <%= @item.price %> </p>
        <p> Size <%= @item.size %> </p>

          This is a nice <%= @item.item_name %> available on the size <strong> <%= @item.size %> </strong> .
        </p>

        <p>The <!-- ><!-- estimate time to get to you is --> <%#= @item.days_delivery %> <!-- days!</p> -->




      </div>
    </div>


    <% @suggested_items.each do |i| %>
      <div class="stat">
        <div class="stat-content">
           <p> <%= link_to " + Add more items", items_path %> </p>
           <% if i.photo_items.any? %>
             <%= cl_image_tag i.photo_items.first.path, width: 80, crop: :fill, class: "img-circle" %>
          <% end %>
          <p> <%= i.category %> </p>
        </div>
      </div>
    <% end %>

  </div>
</div>



    <%= render'shared/review-product' %>



















 <





