<div class="container">
 <h1> Excellent Choice! </h1>
  <div class="profile text-center">
    <div class="main">
      <div class="main-content">
      <%= cl_image_tag @item.photo_items.first.path, width: 250, height: 300, crop: :fill, class: "img-circle" %>
        <p> <%= @item.item_name %> </p>



        <%= render'shared/carousel' %>


      </div>
    </div>



    <div class="description">


      <div class="col-xs-12">



    <div class="row">
      <div class="col-md-3">
        <% if @item.owner.received_reviews.empty? %>
          No reviews yet.
        <% else %>
          <%= render'shared/stars', stars: @item.owner.average_rating %>
        <% end %>
        <a href="#reviews">Check the reviews below</a>
      </div>

      <div class="col-md-4 col-md-offset-1">
      <div class="description-content">
        <!--  <p class="text-justify"> -->

        <p>Price: <%= humanized_money_with_symbol(@item.price) %></p>

        <h5 class="sizes">sizes:<span><%= @item.size %></span></h5>

        <%= form_tag purchases_path do %>
          <%= hidden_field_tag 'item_id', @item.id %>
          <%= submit_tag 'Add to cart', class: 'btn btn-primary' %>
        <% end %>
      </div>
      </div>
    </div>
      </div>
    </div>


    <% @suggested_items.each do |i| %>
      <div class="stat">
        <div class="stat-content">
           <p> <%= link_to " + Add more items", items_path %> </p>
           <% if i.photo_items.any? %>
             <%= cl_image_tag i.photo_items.first.path, width: 80, crop: :fill, class: "img-circle" %>
          <% end %>
          <p> <%= i.category %> </p>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div id="reviews">
  <%= render'shared/review-product' %>
</div>





